autopep8
beautifulsoup4
certifi
chardet
comtypes
decouple
idna
MouseInfo
Pillow
# If on Mac, the user will need to install portAudio via Brew before PyAudio via pip
PyAudio
PyAutoGUI
pycodestyle
PyGetWindow
PyMsgBox
pyperclip
pypiwin32
PyRect
PyScreeze
python-decouple
pyttsx3
PyTweening
pywhatkit
pywin32
requests
soupsieve
SpeechRecognition
toml
urllib3
wikipedia
