comtypes
decouple
# If on Mac, the user will need to install portAudio via Brew before PyAudio via pip
PyAudio
PyAutoGUI
python-decouple
pyttsx3
pywhatkit
requests
SpeechRecognition
urllib3
wikipedia
