.Tile {
    display: flex;
    flex-direction: column-reverse;
}
.single-tile {
    position: relative
}
.tile-bkg {
    max-width: 150px;
    position: absolute;
    bottom: 0px;
    left: 8px;
}

.character {
    max-height: 40px;
    position: absolute;
    bottom: 15px;
    left: 92px;
    z-index: 2;
}

.names {
    font-size: 1.2em;
    max-width: 50px;
    position: absolute;
    bottom: 7px;
    left: 25px;
    z-index: 3;
    text-align: center;
}